/* Default Variables */
$default-spacing: 15px;

/* Background Colors */
$background-primary: #212121;
$background-light: #DEDEDE;
$background-lighter: #E6E6E6;
$background-lightest: #F4F4F4;
$background-white: #FFFFFF;

/* Foreground Colors */
$foreground-primary: #333333;
$foreground-white: #FFFFFF;

/* Accent Colors */
$accent-primary: #0078d7;