@import '../../../styles/mixins.scss';
@import '../../../styles/theme.scss';

.hamburger-menu {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: 0;
    background-color: $background-primary;
    @include flex();
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s cubic-bezier(0,1.13,.4,1);

    &__close {
        width: 20px;
        padding: $default-spacing;
        color: $foreground-light;
        @include focus-states($foreground-primary, $accent-background-primary);

        i {
            top: 0;
        }
    }

    &__profile {
        @include center-flex();
        padding: $default-spacing;
    }

    &__container {
        flex: 1 1 0px;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }

    &--shown {
        transform: translate3d(0, 0, 0);
    }
}

.profile {
    &__image {
        @include background-fill() {
            @include background-image-circle(120px);
        }

        margin-bottom: $default-spacing;
    }

    &__name {
        color: $background-lightest;
    }

    &__handle {
        color: rgba($background-lightest, 0.6);
        margin-bottom: $default-spacing;
    }
}

.menu-list {
    list-style-type: none;
    margin-bottom: 2 * $default-spacing;

    &__title {
        color: rgba($foreground-lighter, 0.8);
        padding: 0 $default-spacing;
        margin-bottom: $default-spacing/2;

        i {
            margin-right: $default-spacing * 0.75;
            top: 2px;
        }
    }

    &__message {
        color: $foreground-light;
        padding: 0 $default-spacing;
    }

    &__item {
        padding: $default-spacing $default-spacing;
        color: $foreground-lightest;
        position: relative;
        @include focus-states($foreground-primary, $accent-background-primary);

        p {
            &:first-child {
                margin-bottom: 4px;
            }

            padding-right: 30px;
            color: $background-lighter;
        }

        &--subtle {
            color: rgba($foreground-lighter, 0.8);

            i {
                top: 2px;
                padding-right: $default-spacing * 0.75;
            }
        }

        &--inline-image {
            width: 100%;
            @include inline-flex(null, center);

            p {
                color: $background-lighter;
            }
        }

        &--action {
            display: block;
            position: absolute;
            top: 17px;
            right: 20px;

            i {
                top: 0;
            }
        }
    }

    &__thumb {
        @include background-fill() {
            @include background-image-square(24px);
        }

        margin-right: $default-spacing;
    }

    &__overflow {
        padding: 0 $default-spacing;
        margin-top: $default-spacing / 2;
        color: $foreground-light;

        @include focus-states(transparent, $accent-background-primary);
    }

    &--footer {
        margin-bottom: 0;
    }
}
