@import '../styles/mixins.scss';
@import '../styles/theme.scss';

.file-detail {
    &__content {
        padding: 0 $default-spacing;
        flex: 1 1 auto;
    }

    &__subtitle {
        margin-top: $default-spacing/2;
        margin-bottom: $default-spacing;
    }

    &__actions {
        @include flex();
        padding: $default-spacing;

        &--row {
            @include inline-flex();
        }
    }

    &__action {
        border: solid 1px $foreground-primary;
        outline: none;
        color: $foreground-primary;
        text-align: center;
        @include focus-states($foreground-primary, $background-light);
        margin-bottom: $default-spacing/2;

        &--link {
            border: none;
            outline: none;
            background: transparent;
            @include focus-states(transparent, $accent-background-primary);
        }

        &--primary {
            background-color: $accent-background-primary;
            color: $accent-foreground-primary;
            border-color: $accent-background-primary;
        }

        &--secondary {
            background-color: $foreground-white;
            color: $foreground-primary;
            flex: 1 0 auto;
            margin-right: $default-spacing/2;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__commits {
        @include flex();
        margin-top: $default-spacing;
    }

    &-commit {
        @include inline-flex(null, center);
        margin-bottom: $default-spacing;

        &__avatar {
            @include background-fill() {
                @include background-image-circle(30px);
            }

            margin-right: $default-spacing;
        }

        &__details {
            flex: 1 0 auto;            
        }

        &__message {
            @include ellipsis();
        }

        &__name {
            color: $foreground-light;
        }
    }
}
