<main class="ms-landing-page__main">
    <!--<section class="ms-landing-page__header">
        <div class="ms-landing-page__header--center ms-font-m ms-fontWeight-light">
            <div class="ms-SearchBox">
                <input class="ms-SearchBox-field" type="text">
                <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--search"></i>Search</label>
                <button class="ms-SearchBox-closeButton"><i class="ms-Icon ms-Icon--x"></i></button>
            </div>
        </div>
    </section>
    <hr />-->
    <section class="ms-landing-page__content ms-font-m ms-fontColor-neutralPrimary">
        <article class="favorites">
            <h1 class="ms-landing-page__content__title ms-font-xl  ms-fontColor-neutralSecondary ms-fontWeight-light">Favorites</h1>
            <ul class="ms-List">
                <li class="ms-ListItem" *ngFor="let repository of favoriteRepositories">
                    <!--<div class="repoIcon">
                        <i class="ms-Icon ms-Icon--pinLeft"></i>
                    </div>-->
                    <div class="item" (click)="onSelect(repository)">
                        <span class="repoDetail ms-ListItem-primaryText ms-font-m">{{repository.name}}</span>
                        <span class="repoDetail ms-ListItem-secondaryText ms-font-xs">@officedev</span>
                        <div class="repoDetail ms-ListItem-selectionTarget js-toggleSelection"></div>
                    </div>
                    <div class="ms-ListItem-actions">
                        <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--pinLeft" (click)="onUnpin(repository)"></i></div>
                    </div>
                </li>
            </ul>
        </article>
        <hr class="ms-borderColor-neutralTertiaryAlt" />
        <article class="my-github-repos">
            <h1 class="ms-landing-page__content__title ms-font-xl ms-fontColor-neutralSecondary ms-fontWeight-light">My GitHub Repositories</h1>
            <ul class="ms-List">
                <li class="ms-ListItem" *ngFor="let repository of repositories">
                    <div class="item" (click)="onSelect(repository)">
                        <span class="ms-ListItem-primaryText ms-font-m">{{repository.name}}</span>
                        <span class="ms-ListItem-secondaryText ms-font-xs">@officedev</span>
                        <span class="ms-ListItem-tertiaryText ms-font-s">{{repository.description}}</span>
                        <div class="ms-ListItem-selectionTarget js-toggleSelection"></div>
                    </div>
                    <div class="ms-ListItem-actions">
                        <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--pinLeft" (click)="onPin(repository)"></i></div>
                    </div>
                </li>
            </ul>
        </article>
    </section>
</main>
<footer class="footer">
    <div id="word-github-brandbar">
    </div>
</footer>