@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/theme.scss';

.mw-message-bar {
    width: 100%;

    &__content {
        @include inline-flex();
        width: 100%;
        align-items: center;

        .ms-Icon-large {
            top: 0;
        }
    }

    &__message {
        @include ellipsis();
        flex: 1 1 auto;     
        width: calc(100vw - 70px);               
    }

    &__icon {
        color: $foreground-primary;
        margin-right: $default-spacing;
        
        &:hover {
            cursor: pointer;
            color: $accent-background-primary;
        }
    }

    &__actions {
        @include flex();
        padding: $default-spacing;

        &--row {
            @include inline-flex();
            margin-top: 7px;
        }
    }

    &__action {
        border: solid 1px $foreground-primary;
        outline: none;
        color: $foreground-primary;
        text-align: center;
        @include focus-states($foreground-primary, $background-light);
        margin-bottom: $default-spacing/2;
        flex: 1 1 50%;
        @include ellipsis();

        &--primary {
            background-color: $accent-background-primary;
            color: $accent-foreground-primary;
            border-color: $accent-background-primary;            
        }

        &--secondary {
            background-color: $foreground-white;
            color: $foreground-primary;            
        }
    }
}