<section class="file-detail__content">
    <h1 class="file-detail__title ms-font-l ms-fontWeight-light">{{selectedFile}}</h1>
    <!--<h2 class="file-detail__subtitle ms-font-m-plus ms-fontWeight-light">History</h2>
    <div class="file-detail__commits">
        <div class="file-detail-commit" *ngFor="let commit of (commits | async)">
            <div class="file-detail-commit__avatar" [ngStyle]="{'background-image': 'url('+ commit?.author?.avatar_url +')'}"></div>
            <div class="file-detail-commit__details">
                <p class="ms-font-m file-detail-commit__message">{{commit?.commit?.message}}</p>
                <p class="ms-font-s file-detail-commit__name">By {{commit?.commit?.author?.name}}</p>
            </div>
        </div>
    </div>-->
</section>
<article class="file-detail__actions">
    <!--<a role="button" class="ms-font-s-plus file-detail__action file-detail__action--link" title="Style current selection as code" (click)="styleAsCode()">Style as code</a>-->
    <div class="file-detail__actions--row">
        <button class="ms-Button file-detail__action file-detail__action--secondary file-detail__action--split" (click)="insertNumberedList()">Add bullets</button>
        <button class="ms-Button file-detail__action file-detail__action--secondary file-detail__action--split" (click)="insertBulletedList()">Add numbering</button>
    </div>
    <a [href]="viewLink" target="_blank" role="button" class="ms-font-s-plus file-detail__action file-detail__action--link" title="Open the file in a webpage on GitHub">View on GitHub</a>
    <div class="file-detail__actions--row">
        <button class="ms-Button file-detail__action file-detail__action--secondary" (click)="pull()">Pull</button>
    </div>
    <div class="file-detail__actions--row">
        <button class="ms-Button file-detail__action file-detail__action--primary" (click)="push()">Push</button>
    </div>
</article>