@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/theme.scss';

.file-detail {
    &__content {
        padding: 0 $default-spacing;
        flex: 1 1 auto;
    }

    &__subtitle {
        margin-top: $default-spacing/2;
        margin-bottom: $default-spacing;
    }

    &__actions {
        @include flex();
        padding: $default-spacing;

        &--row {
            @include inline-flex();
        }
    }

    &__action {
        border: solid 1px $foreground-primary;
        outline: none;
        color: $foreground-primary;
        text-align: center;
        @include focus-states($foreground-primary, $background-light);
        margin-bottom: $default-spacing/2;
        flex: 1 0 auto;

        &--split {
            flex: 1 1 50%;
            @include ellipsis();
        }

        &--link {
            margin: $default-spacing*2 0;
            border: none;
            outline: none;
            background: transparent;
            @include focus-states(transparent, $accent-background-primary);
            margin-bottom: $default-spacing;
        }

        &--primary {
            background-color: $accent-background-primary;
            color: $accent-foreground-primary;
            border-color: $accent-background-primary;
            width: 100%;
        }

        &--secondary {
            background-color: $foreground-white;
            color: $foreground-primary;
            width: 100%;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
