<main class="ms-firstrun-login__page">
    <section>
        <div class="ms-firstrun-login">
            <div class="ms-firstrun-login__brand">
                <div id="word-github-logo"></div>
                <div>
                    <h1 class="ms-firstrun-login__title ms-font-xl ms-fontColor-white ms-fontWeight-semibold">MARKDOWN EDITOR</h1>
                    <h2 class="ms-firstrun-login__title ms-font-l ms-fontColor-white ms-fontWeight-light">for Word</h2>
                </div>
            </div>
            <div class="ms-firstrun-login__centering-container">
                <div class="ms-firstrun-login__action">
                    <div class="ms-firstrun-login__button">
                        <button id="buttonSignInToGitHub" class="ms-Button  ms-fontColor-white" (click)="login()">
                            <span class="ms-Button-label">
                                Sign in with GitHub
                            </span>
                        </button>
                    </div>
                    <div class="ms-firstrun-login__content--centered ms-font-s ms-fontColor-white">
                        <p>Sign in with GitHub to browse your repositories.</p>
                    </div>
                </div>
            </div>
        </div>
</main>