<main class="ms-firstrun-value">
    <section class="ms-font-l">
        <div class="ms-firstrun-login ms-bgColor-themePrimary">
            <div class="ms-firstrun-login__header">
                <div class="ms-firstrun-login__welcome">
                    <div>
                        <h1 class="ms-font-xl ms-fontWeight-light ms-fontColor-white">WELCOME</h1>
                    </div>
                    <div class="ms-font-m ms-fontWeight-light ms-fontColor-white">
                        <p>MARKDOWN EDITOR</p>
                        <p>for Word</p>
                    </div>
                </div>
            </div>
            <div id="loginimage" class="ms-firstrun-login__header--image">
            </div>
            <div class="ms-firstrun-login__content">
                <div>
                    <div class="ms-font-mi ms-fontColor-white ms-firstrun-login__content--caption">
                        <p>Watch this login to learn how to use my add-in name.</p>
                    </div>
                    <div class="ms-firstrun-login__content--valuestatement ms-font-m ms-fontWeight-light ms-fontColor-white">
                        <p>Be productive at work with my add-in name.</p>
                    </div>
                    <div class="ms-firstrun-login__button">
                        <button id="buttonSignInToGitHub" class="ms-Button  ms-fontColor-white" disabled="true">
                            <span class="ms-Button-label">
                                Sign in to GitHub
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>