<article class="actions">
    <h1 class="ms-landing-page__content__title ms-font-xl  ms-fontColor-neutralSecondary ms-fontWeight-light">Booyah!</h1>
    <div class="ms-landing-page-pushButton">
        <button id="buttonPush" class="ms-Button" (click)="onPush()"></button>
    </div>
    <div class="ms-landing-page-discardButton">
        <button id="buttonDiscard" class="ms-Button" (click)="onDiscard()"></button>
    </div>
    <div class="ms-landing-page-pullButton">
        <button id="buttonPull" class="ms-Button" (click)="onPull()"></button>
    </div>
</article>