<section class="file-create-component__header">
    <ul class="file-create-command-bar">
        <li class="file-create-command-bar__command"><i class="ms-Icon ms-Icon--chevronThinLeft"></i></li>
        <li class="file-create-command-bar__text">
            <h1 class="ms-font-l ms-fontweight-light">New File</h1>
        </li>
    </ul>
</section>

<section class="file-create-component__form">
    <form class="file-create-form" name="newfile">
        <section class="file-create-form__section">
            <label class="file-create-form__label ms-font-s" for="filename">What's the file name?</label>
            <input class="file-create-form__text" type="text" name="filename" [(ngModel)]="selectedFile" />
        </section>

        <section class="file-create-form__section">
            <input class="file-create-form__checkbox" type="checkbox" name="newfolder" [(ngModel)]="newFolder" />
            <label class="file-create-form__label ms-font-s" for="newfolder">Create a new folder?</label>
        </section>

        <section class="file-create-form__section" [hidden]="!newFolder">
            <label class="file-create-form__label ms-font-s" for="foldername">What's the folder name?</label>
            <input class="file-create-form__text ms-font-m" type="text" name="foldername" [(ngModel)]="selectedFolder" />
        </section>

        <section class="file-create-form__section">
            <p class="file-create-form__label ms-font-s">Your file will be created at:</p>
            <pre class="file-create-form__path">@{{selectedOrg}}/{{selectedRepoName}}/{{selectedBranch}}/<span [hidden]="selectedPath == 'null'">{{selectedPath}}/</span><span class="file-create-form__path--folder" [hidden]="!newFolder || selectedFolder?.length <= 0">{{selectedFolder}}</span><span                    [hidden]="!newFolder || selectedFolder?.length <= 0">/</span><span class="file-create-form__path--file">{{selectedFile}}.md</span></pre>
        </section>

        <section class="file-create-form__section file-create-form__section--header">
            <h2 class="file-create-form__title ms-font-l ms-fontweight-light">Templates</h2>
            <p class="file-create-form__label ms-font-s ms-fontweight-light">Choose a template from the list below to load it in Word.</p>
        </section>

        <section class="file-create-form__section file-create-form__section--menu">
            <ul class="file-create-form__templates">
                <li class="file-template-item" *ngFor="let template of templates" (click)="selectedTemplate = template" [ngClass]="{'file-template-item--selected':template.id === selectedTemplate.id}">
                    <p class="file-template-item__title ms-font-m">{{template.title}}</p>
                    <p class="file-template-item__description ms-font-s">{{template.description}}</p>
                </li>
            </ul>
        </section>

        <section class="file-create-form__section">
            <input class="file-create-form__submit ms-font-m" type="submit" value="Create" (click)="create()" />
        </section>
    </form>
</section>